PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/quakeguard
JWT_SECRET=change_me_to_a_long_random_string
USGS_API_URL=https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_day.geojson
CORS_ORIGIN=http://localhost:5173
